<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='devices && devices.length'>
        <thead>
          <tr>
            <th>Id</th>
            <th>VendorId</th>
            <th>DeviceMake</th>
            <th>DeviceModel</th>
            <th>DevicePath</th>
            <th>DeviceImage</th>
            <th>AssetTypeId</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let device of filteredDevices'>
            <td>{{ device.BaseDeviceId }}</td>
            <td>{{ device.VendorId}}</td>
            <td>{{ device.DeviceMake}}</td>
            <td>{{ device.DeviceModel}}</td>
            <td>{{ device.DevicePath}}</td>
            <td>{{ device.DeviceImage}}</td>
            <td>{{ device.AssetTypeId}}</td>
            <td>{{ device.BaseDeviceStatusId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
